<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:fragment="header">
  <meta charset="utf-8"/>
  <title>Quản lý Thư Viện - Online Library</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <style>
    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao của cửa sổ trình duyệt */
    }
  </style>
</head>
<body>
<header th:fragment="header">
  <nav class="bg-gray-800 p-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <a class="navbar-brand" th:href="@{/}">
          <img src="/image/logo.png" alt="Logo" style="max-height: 40px;">
        </a>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-white hover:bg-gray-700 px-3 py-2 rounded">Trang chủ</a></li>
          <li><a href="#" class="text-white hover:bg-gray-700 px-3 py-2 rounded">Giới thiệu</a></li>
          <li><a href="#" class="text-white hover:bg-gray-700 px-3 py-2 rounded">Liên hệ</a></li>
        </ul>
      </div>
      <div class="flex items-center">
        <form class="relative ml-4">
          <input type="search" placeholder="Tìm kiếm" class="rounded-full pl-4 pr-10 py-2 focus:outline-none"/>
          <button type="submit" class="absolute right-0 top-0 mt-2 mr-3 text-gray-500 hover:text-gray-700">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <div class="relative ml-4">
          <a href="/borrow" class="text-white hover:bg-gray-700 px-3 py-2 rounded flex items-center">
            <img src="/image/bookshelf.png" alt="bookshelf" class="h-6 w-6"/>
            <span class="ml-1 text-sm" th:text="${cartItemCount}">0</span> <!-- Số lượng sách mượn -->
          </a>
        </div>
        <div class="ml-4 flex items-center relative">
          <span sec:authorize="isAuthenticated()" class="flex items-center">
            <img src="/image/user1.png" alt="User " class="h-8 w-8 rounded-full cursor-pointer" id="userImage"/>
            <span class="text-white ml-2" th:text="${#authentication.name}">Tên người dùng</span>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="absolute top-full right-0 hidden mt-2" id="logoutForm">
              <button type="submit" class="bg-gray-800 text-white border border-white px-2 py-1 rounded hover:bg-gray-700">
                Đăng xuất
              </button>
            </form>
          </span>
          <a href="/login" sec:authorize="!isAuthenticated()" class="text-white border border-white px-3 py-2 rounded hover:bg-gray-700 ml-4">
            Đăng nhập
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main th:fragment="content">
  <div class="container mx-auto mt-4">
    <p>Replaceable content goes here</p>
  </div>
</main>

<footer th:fragment="footer" class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <span>© 2024 Quản lý Thư Viện. Tất cả các quyền được bảo lưu.</span>
  </div>
</footer>
<script>

  const userImage = document.getElementById('userImage');
  const logoutForm = document.getElementById('logoutForm');

  userImage.addEventListener('click', function() {
    // Toggle hiển thị nút đăng xuất
    if (logoutForm.classList.contains('hidden')) {
      logoutForm.classList.remove('hidden');
    } else {
      logoutForm.classList.add('hidden');
    }
  });

  // Đóng nút đăng xuất khi nhấp bên ngoài
  document.addEventListener('click', function(event) {
    if (!userImage.contains(event.target) && !logoutForm.contains(event.target)) {
      logoutForm.classList.add('hidden');
    }
  });
</script>
</body>
</html>