<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quản lý sách</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add some basic styling to make the table look better */
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .img-thumbnail {
        width: 150px;
        height: auto;
    }
        .img-thumbnail {
    width: 150px;
    height: auto;
}
    </style>
</head>
<body>

<div class="container">
    <h1 class="mt-4">Quản lý sách</h1>
    <a href="/admin" class="btn btn-secondary mb-3">Quay lại </a>
    <a href="/admin/book/add" class="btn btn-primary mb-3">Thêm sách</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên sách</th>
            <th>Hình Ảnh</th>
            <th>Tác giả</th>
            <th>Mô tả</th>
            <th>Năm Xuất Bản</th>
            <th>Số lượng</th>
            <th>Thể loại</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td><img th:if="${book.imagePath}" th:src="@{${book.imagePath}}" alt="Book Image" class="img-thumbnail"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.yearPublished}"></td>
            <td th:text="${book.quantity}"></td>
            <td th:text="${book.category.name}"></td>
            <td>
                <a th:href="@{/admin/book/edit/{id}(id=${book.id})}" class="btn btn-warning btn-sm">Sửa</a>
                <a th:href="@{/admin/book/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

